:root {
    --main-bg-color: #edf2f7;
    --main-border-color: #e2e8f0;
    /* --shadow-color: rgb(204, 204, 204); */
    /*--accent-color: #c42026;*/
    --accent-color: #596636;
    --text-color: #000;
    --text-dark-color: #4a5568;
    --text-gray-color: #a0aec0;
    --text-heading-color: #7f6c5e;
    --text-muted-color: #b9aba1;
    --text-inv-color: #eee;
    --text-accent-color: #997b66; /* lighten from original VIS2020 style for readability */
    --icon-color: #6c757d;
    --btn-color: #fff;
    --btn-inv-color: #4a5568;
}

/* ======== FONTS ======== */
/* ==> Sans Serif */
body,
h3.jumbotron-date,
h3,
.cal-nav,
.details,
.pp-card,
.card-subtitle.text-muted,
h6.card-subtitle.text-muted,
.event-card .event-time,
.event-card .event-url,
.session-list-session,
.session-chair,
.paper-authors,
.session-list-date,
.session-date,
.paper-link,
.paper-presentation,
.speaker-name,
.session-list-info,
.session-info,
.session-list-type,
.award-card .award-title,
.award-card .award-authors,
.tooltip,
.timezone,
.tztooltip .tztooltiptext,
#tab-faq .card-header,
#tab-faq .card-body {
    font-family: "Fira Sans", sans-serif;
}

.event-faceting,
.legend-item,
.session-type {
    font-family: "Fira Sans SemiBold", sans-serif;
}

#calendar {
    font-family: "Fira Sans Condensed Light", sans-serif;
}

/* ==> SERIF */
.nav-item,
.header,
.pp-card-header,
.pp-card-no-bottom {
    font-family: "Zilla Slab", sans-serif;
}


h2.jumbotron-h,
h1,
h2,
h3,
.card,
.card-header,
.card-title,
.main-title,
.event-card .event-title,
.session-list-event,
.session-title,
.paper-title,
.session-list-title,
.paper-details-heading,
.speaker-title,
.speaker-details-heading,
.award-card .award-name,
.award-card .award-paper {
    font-family: "Zilla Slab SemiBold", serif;
}


body {
    color: var(--text-dark-color);
    background-color: var(--main-bg-color);
}

body a {
    color: var(--text-accent-color);
}

body a:hover {
    color: var(--accent-color);
    text-decoration: underline;
}

code {
    color: var(--accent-color);
}

h1 {
    font-size: 2.25rem;
    color: var(--text-heading-color);
}

h2 {
    font-size: 1.875rem;
    color: var(--text-heading-color);
}

h3 {
    font-size: 1.5rem;
    color: var(--text-heading-color);
}


.text-muted {
    color: var(--text-muted-color);
}

.text-muted:hover {
    color: var(--accent-color) !important;
}

.navbar-nav li {
    margin: 0 3px;
}

.nav-pills li {
    margin: 0 2px;
}


h6.card-subtitle.text-muted,
.card-subtitle.text-muted {
    font-size: 15px;
}


.nav-link.text-muted {
    border: 1px solid transparent;
    box-sizing: border-box !important;
}

.nav-link.active.text-muted,
.nav-link.active {
    color: var(--btn-color) !important;
    background-color: var(--btn-inv-color) !important;
}

.nav-link.text-muted:hover {
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
    border: 1px solid var(--text-dark-color);
}

.nav-link.text-muted.active:hover {
    color: var(--main-border-color) !important;
}

h2.jumbotron-h {
    font-size: 2.5em;
    color: var(--text-inv-color);
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: lighten;
}

h3.jumbotron-date {
    font-size: 1.5em;
    color: var(--text-inv-color);
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: lighten;
}

.btn .active,
.btn.btn-outline-secondary.active {
    background-color: var(--btn-inv-color) !important;
}

.btn-group {
    background-color: var(--btn-color);
}

.btn {
    background-color: var(--btn-color);
}

.btn:hover {
    background-color: var(--btn-inv-color);
    color: var(--btn-color);
}

.gdpr-btn:hover {
    color: var(--btn-color) !important;
    background-color: var(--accent-color) !important;
}

.gdpr-btn {
    color: var(--btn-inv-color) !important;
    border: var(--main-border-color) !important;
    background-color: var(--btn-color) !important;
}

#main-nav {
    padding-top: 10px;
    padding-bottom: 10px;
}

#tzNote p {
    margin-bottom: 0;
    font-size: 0.85rem;
}

.pp-card {
    box-shadow: 0 0 14px 0 var(--main-border-color);
    margin-bottom: 1em;
    display: block;
    overflow: hidden;
}

.pp-card-no-bottom {
    box-shadow: 0 0 14px 0 var(--main-border-color);
    margin-bottom: 0;
    display: block;
    overflow: hidden;
}

.pp-card-header {
    background-color: #fff;
    border: 4px solid var(--main-border-color);

    height: 340px;
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;

    overflow: hidden;
}

.pp-mode-mini .pp-card-header {
    height: 175px;
    border: 1px solid var(--main-border-color);
}

.pp-card-footer {
    position: absolute;
    width: 100%;
    bottom: 3px;
}

.pp-mode-mini .pp-card-header .card-title {
    font-size: 17px;
}

.cards_img {
    margin-top: 20px;
    border-radius: 2px;
    max-height: 130px;
    object-fit: scale-down;
}

.container {
    margin-top: 25px;
}

.card,
.card-header,
.card-title {
    color: var(--text-dark-color);
}

.cards .myCard {
    display: flex;
    flex-flow: wrap;
    margin-left: 0;
    box-sizing: border-box;
}

.cards {
    margin-top: 10px;
}

.card-title {
    margin-top: 10px;
    /* font-size: 20px; */
}

h5.card-title {
    margin-top: 10px;
    font-size: 20px;
    /* font-size: 30px; */
}

.card-subtitle.text-muted { /* paper time */
    text-align: center;
    color: var(--text-muted-color)
}

.main-title {
    font-weight: 700;
    color: var(--text-heading-color);
}

.myAccordion {
    box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-bottom: 18px;
    padding-left: 15px;
    padding-bottom: 10px;
    padding-right: 15px;
    padding-top: 10px;
    background-color: rgba(255, 255, 255, 1);
}

.sponsorLogo {
    width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}

.slp iframe {
    background: #fff;
    margin: 5px;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
    display: flex;
}

/* .carousel-inner .carousel-item-right.active, */

/* .carousel-inner .carousel-item-next { */

/*   transform: translateX(25%); */

/* } */

/* .carousel-inner .carousel-item-left.active, */

/* .carousel-inner .carousel-item-prev { */

/*   transform: translateX(-25%); */

/* } */

/* .carousel-inner .carousel-item-right, */

/* .carousel-inner .carousel-item-left{ */

/*   transform: translateX(0); */

/* } */

.carousel-control-prev-icon {
    filter: invert(1);
    transform: translateX(-200%);
}

#main-nav {
    background-color: #b9aba1;
    /*background-image: url("/static/css/hex-pattern.png");*/
}

div.anchor {
    display: block;
    position: relative;
    top: -250px;
    visibility: hidden;
}

.carousel-control-next-icon {
    filter: invert(1);
    transform: translateX(200%);
}

.border {
    background: #fff;
    padding: 10px;
    border: 4px solid #eee;
    box-shadow: var(--main-border-color) 2px 2px 14px 0;
}

tr.fc-list-item {
    cursor: pointer;
}

#abstractExample.collapse:not(.show) {
    display: block;

    /* height = lineheight * no of lines to display */
    height: 4.5em;
    overflow: hidden;
}

#abstractExample.collapsing {
    height: 4.5em;
}

#absShow.collapsed::after {
    content: "+ Show More";
}

#absShow:not(.collapsed)::after {
    content: "- Show Less";
}

body .carousel-control-next,
body .carousel-control-prev {
    width: 5%;
}

.icon_video,
.icon_cal {
    fill: var(--icon-color);
}

.icon_video:hover,
.icon_cal:hover {
    fill: #000;
}

.checkbox-paper {
    /*opacity: 0.2;*/
    color: #fcfcfc;
    font-size: 14pt;
    font-weight: bold;
    cursor: pointer;
    transition-duration: 100ms;
}

.checkbox-bookmark {
    color: #ddd;
    font-size: 18pt;
    font-weight: bold;
    cursor: pointer;
    transition-duration: 100ms;
}

.checkbox-paper.selected {
    opacity: 1;
    color: #6c757d;
}

.checkbox-bookmark.selected {
    opacity: 1;
    color: var(--accent-color);
}


/* specific event colours are set in config.yml */
.tui-full-calendar-time-schedule-content,
.tui-full-calendar-time-schedule-content-time {
    border-color: var(--main-border-color) !important;
    font-weight: 400;
}

.tui-full-calendar-time-date-schedule-block:hover {
    color: var(--accent-color);
}

hr {
    border-bottom: 2px;
    border-style: dashed;
    border-color: var(--accent-color);
    border-top-width: 0;
    position: relative;
    margin-top: 3rem;
    margin-bottom: 3rem;

    box-sizing: content-box;
    height: 0;
    overflow: visible;
}

hr::after {
    border: 2px solid var(--accent-color);
    position: absolute;
    border-radius: 9999px;
    content: "";
    right: -14px;
    top: -4px;
    width: 6px;
    height: 6px;
    box-sizing: content-box;
}


/* all_events styling */

.event-card {
    font-size: 1rem;
    height: 100%;
}

.event-card .event-title {
    font-size: 1.4rem;
    margin-bottom: 0.5rem;
}


.event-card .event-time {
    font-size: 0.8rem;
    letter-spacing: .01em;
    color: var(--text-dark-color);
}

.event-card .event-url {
    font-size: 0.8rem;
    letter-spacing: .01em;
    color: var(--text-gray-color);
    margin-bottom: 0.25rem;

}

/* combined styling (schedule listing, event, session, paper) */

.nav-breadcrumb ol.breadcrumb {
    padding: 0.75rem 0;
    background-color: transparent;
    font-size: 0.85rem;
}

/* h1 */
.session-list-event,
.session-title,
.paper-title,
.session-list-title {
    color: var(--text-heading-color);
}


/* h3 */
.session-list-session,
.session-chair,
.paper-authors {
    color: var(--text-dark-color);
    font-size: 1.875rem;
}


/* h5 */
.session-list-date,
.session-date,
.paper-link,
.paper-presentation,
.speaker-name {
    /* placeholder; add styles here */
    color: var(--text-dark-color);
    text-decoration: none;
}


/* h5 */
.paper-details-heading,
.speaker-title,
.speaker-details-heading {
    color: var(--text-heading-color);
}


/* h5 */
.session-list-presenter {
    /* placeholder; add styles here */
    text-decoration: none;
}

/* info/non-paragraph text */
.session-list-info,
.session-info,
.session-list-type {
    /* placeholder; add styles here */
    color: var(--text-dark-color);
    text-decoration: none;
}


/* session lists */

.session-listing {
    border-left: 5px solid transparent;
}

.event-faceting,
.legend-item {
    text-transform: uppercase;
    letter-spacing: 0.025em;
    font-size: 1rem;
    padding-bottom: 0.5rem;
}

.session-type {
    display: block;
    text-transform: uppercase;
    letter-spacing: 0.025em;
    font-size: 1rem;
    padding-bottom: 0.5rem;
}

.session-list-title .fas {
    font-size: 0.8em;
}

/* session page styling */

.session-chair .fas,
.session-date .fas {
    font-size: 0.75em;
    vertical-align: baseline;
}

.session-links {
    padding-top: 3rem;
}

.alert-link {
    text-decoration: underline;
}

.integration-description {
    color: var(--icon-color);
    font-size: 0.85rem;
}

.integration-description emph {
    color: var(--accent-color);
}

/* paper page styling */

.paper-award {
    display: inline-block;
    text-transform: uppercase;
    font-size: 1rem;
    color: var(--accent-color);
    outline: 2px solid var(--accent-color);
    outline-offset: 6px;
}


/* awards styling */
.award-card {
    font-size: 1rem;
    height: 100%;
    position: relative;
    z-index: 0;
}

.award-card > * {
    z-index: 5;
}

.award-card:before {
    content: "\f091"; /* this is your text. You can also use UTF-8 character codes as I do here */
    font-family: "Font Awesome 5 Free";
    left: calc(50% - 25px);
    position: absolute;
    top: calc(50% - 25px);
    font-size: 50px;
    color: #f0f0f0;
    z-index: -1;
}

.award-card .award-title {
    font-size: 1rem;
    color: var(--text-dark-color);
    letter-spacing: .01em;
    font-weight: bold;
}

.award-card .award-name {
    font-size: 1.5rem;
    color: var(--text-dark-color);
}

.award-card .award-paper {
    font-size: 1.4rem;
    color: var(--text-dark-color);
}

.award-card .award-authors {
    font-size: 0.8rem;
    letter-spacing: .01em;
}


/* tooltip for schedule days */
.note {
    border-bottom: 2px dotted;
}

/* tooltip for timezone */
.timezone {
    font-size: 0.9rem;
    border-bottom: 1px dotted var(--text-gray-color);
}

.tztooltip {
    position: relative;
    display: inline-block;
}

.tztooltip .tztooltiptext {
    visibility: hidden;
    width: 150px;
    background-color: var(--btn-inv-color);
    color: var(--text-inv-color);
    text-align: center;
    padding: 5px 2px;
    border-radius: 6px;

    font-size: 0.8rem;

    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -75px;

    opacity: 0;
    transition: opacity 0.3s;
}

.tztooltip .tztooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tztooltip:hover {
    cursor: help;
}

.tztooltip:hover .tztooltiptext {
    visibility: visible;
    opacity: 1;
}

