@font-face {
  font-family: "Zilla Slab";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Zilla Slab"), local("Zilla-Slab"),
    url("ZillaSlab-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Zilla Slab SemiBold";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("Zilla Slab SemiBold"), local("Zilla-Slab-SemiBold"),
    url("ZillaSlab-SemiBold.ttf") format("truetype");
}
