/* SCHEDULE CSS */

.schedule-table .table-primary {
  background-color: #666;
  color: #fff;
}

.schedule-table .table-secondary {
  background-color: #d9d9d9;
}

.schedule-table .table-secondary.time {
  min-width: 85px;
}

.schedule-table .method {
  width: 110px;
}

.schedule-table .table-keynote {
  background-color: #83a5a7;
}

.schedule-table .table-keynote-secondary {
  background-color: #c7dee0;
}

.schedule-table .table-proceedings {
  background-color: #b4a7d6;
}

.schedule-table .table-proceedings-secondary {
  background-color: #d9d2e9;
}

.schedule-table .table-tutorial {
  background-color: #bfc375;
}

.schedule-table .table-tutorial-secondary {
  background-color: #e1e3b7;
}

.schedule-table .table-roundtable {
  background-color: #bfc375;
}

.schedule-table .table-poster {
  background-color: #f9cb9c;
}


.table-bordered tbody>tr>td.keynote {
  border-left: hidden!important;
}


em {
  font-size: 0.88rem; /* 14px */
  color: #999;
}
