{% set active_page = "Committee" %}
{% set page_title = "Committee" %}
{% extends "base.html" %}

{% block tabs %}


{% endblock %}

{% block content %}

<!-- Organizers -->
{{ components.section("ACM CHIL Committee") }}
<!-- {{ components.organizergroup(committee) }} -->

{{ components.subsection("Chairs") }}

{{ components.subsubsection("General Chair") }}

<ul>
<li>Dr. Marzyeh Ghassemi of the University of Toronto and the Vector Institute</li>
</ul>

{{ components.subsubsection("Logistics Chair") }}

<ul>
<li>Tasmie Sarker of the University of Toronto and the Vector Institute</li>
</ul>

{{ components.subsubsection("Program Chairs") }}

<ul>
<li>Dr. Tristan Naumann of Microsoft Research Seattle</li>
<li>Dr. Danielle Belgrave of Microsoft Research Cambridge, UK</li>
<li>Dr. Adrian Dalca of MIT and Harvard Medical School</li>
</ul>

{{ components.subsubsection("Proceedings Chairs") }}

<ul>
<li>Dr. Brett Beaulieu-Jones of Harvard Medical School</li>
<li>Sam Finlayson of Harvard University and MIT</li>
<li>Emily Alsentzer of Harvard University and MIT</li>
</ul>

{{ components.subsubsection("Communications Chairs") }}

<ul>
<li>Dr. Stephanie Hyland of Microsoft Research Cambridge, UK</li>
<li>Dr. Shalmali Joshi of the Vector Institute</li>
<li>Bret Nestor of the University of Toronto and the Vector Institute</li>
</ul>

{{ components.subsubsection("Finance Chairs") }}

<ul>
<li>Dr. Joyce Ho of Emory University</li>
<li>Dr. Laura Rosella of the University of Toronto</li>
</ul>

{{ components.subsubsection("Tutorial Chairs") }}

<ul>
<li>Ahmed Nasir of Trillium Health Partners</li>
<li>Dr. Andrew Beam of Harvard University</li>
<li>Irene Chen of MIT</li>
</ul>

{{ components.subsubsection("Consortium Chairs") }}

<ul>
<li>Dr. Leo Celi of MIT</li>
<li>Matthew McDermott of MIT</li>
</ul>

{{ components.subsection("Executive Committee") }}

<ul>
<li>Dr. Marzyeh Ghassemi of University of Toronto, Vector Institute</li>
<li>Dr. Tristan Naumann of Microsoft Research Seattle</li>
<li>Dr. Joyce Ho of Emory University</li>
<li>Dr. Leo Celi of MIT</li>
<li>Dr. Shalmali Joshi of the Vector Institute</li>
<li>Dr. Andrew Beam of Harvard University</li>
<li>Dr. Ziad Obermeyer of University of California, Berkeley</li>
<li>Dr. Oluwasanmi Koyejo of University of Illinois at Urbana-Champaign</li>
<li>Dr. Avi Goldfarb of Rotman School of Management, University of Toronto</li>
<li>Dr. Laura Rosella of Dalla Lana School of Public Health, University of Toronto</li>
<li>Dr. Adrian Dalca of MIT and Harvard Medical School</li>
<li>Dr. Rajesh Ranganath of NYU</li>
<li>Irene Chen of MIT</li>
<li>Matthew McDermott of MIT</li>
<li>Dr. Katherine Heller at Duke University</li>
<li>Dr. Uri Shalit of Technion</li>
<li>Dr. Stephanie Hyland of Microsoft Research Cambridge, UK</li>
<li>Dr. Danielle Belgrave of Microsoft Research Cambridge, UK</li>
<li>Dr. Shakir Mohamed of DeepMind</li>
<li>Dr. Alistair Johnson of MIT</li>
<li>Dr. Tom Pollard of MIT</li>
<li>Dr. Alan Karthikesalingam of Google Health UK</li>
</ul>

{{ components.subsection("Steering Committee") }}

<ul>
<li>Dr. Nigam Shah of Stanford University</li>
<li>Dr. Stephen Friend of Oxford University</li>
<li>Dr. Samantha Kleinberg of Stevens Institute of Technology</li>
<li>Dr. Anna Goldenberg of The Hospital for Sick Children Research Institute</li>
<li>Dr. Lucila Ohno-Machado of University of California, San Diego</li>
<li>Dr. Noemie Elhadad of Columbia University</li>
</ul>

{% endblock %}
