{% set active_page = "Committee" %}
{% set page_title = "Committee" %}
{% extends "base.html" %}

{% block top %}
{% endblock %}

{% block tabs %}
  <div class="page-header text-center">
    <h1>ACM CHIL Committee</h1>
  </div>
  {{ components.tabs([("governing-board", "Governing Board", "active"),
                      ("steering-committee", "Steering Committee", ""),
                    ]) }}
{% endblock %}

{% block content %}
  <div class="page-content">
    <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
      <!-- Governing Board tab -->
      <div
        class="tab-pane active"
        id="tab-governing-board"
        role="tabpanel"
        aria-labelledby="nav-profile-tab"
      >
        {{ committee_governing_board | markdown }}
      </div>
      <!-- Steering Committee tab -->
      <div
        class="tab-pane fade"
        id="tab-steering-committee"
        role="tabpanel"
        aria-labelledby="nav-profile-tab"
      >
        {{ committee_steering_committee | markdown }}
      </div>
    </div>
    {{ committee | markdown }}
  </div>
{% endblock %}
