{% set active_page = "Committee" %}
{% set page_title = "Committee" %}
{% extends "base.html" %}

{% block tabs %}

{{ components.tabs([("committee", "Committee", "active"),
                    ("reviewers", "Reviewers", ""),
                    ]) }}

{% endblock %}

{% block content %}

<div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">

    <!-- Committee tab -->
      <div
        class="tab-pane active"
        id="tab-committee"
        role="tabpanel"
        aria-labelledby="nav-profile-tab"
      >

    <!-- Organizers -->
    {{ components.section("ACM CHIL Committee") }}
    <!-- {{ components.organizergroup(committee) }} -->

    {{ components.subsubsection("General Chair") }}

    <ul>
    <li>Dr. Marzyeh Ghassemi of the University of Toronto and the Vector Institute</li>
    </ul>

    {{ components.subsubsection("Logistics Chair") }}

    <ul>
    <li>Tasmie Sarker of the University of Toronto and the Vector Institute</li>
    </ul>

    {{ components.subsubsection("Program Chairs") }}

    <ul>
    <li>Dr. Tristan Naumann of Microsoft Research Seattle</li>
    <li>Dr. Danielle Belgrave of Microsoft Research Cambridge, UK</li>
    <li>Dr. Adrian Dalca of MIT and Harvard Medical School</li>
    </ul>

    {{ components.subsubsection("Proceedings Chairs") }}

    <ul>
    <li>Dr. Brett Beaulieu-Jones of Harvard Medical School</li>
    <li>Sam Finlayson of Harvard University and MIT</li>
    <li>Emily Alsentzer of Harvard University and MIT</li>
    </ul>

    {{ components.subsubsection("Communications Chairs") }}

    <ul>
    <li>Dr. Stephanie Hyland of Microsoft Research Cambridge, UK</li>
    <li>Dr. Shalmali Joshi of the Vector Institute</li>
    <li>Bret Nestor of the University of Toronto and the Vector Institute</li>
    </ul>

    {{ components.subsubsection("Finance Chairs") }}

    <ul>
    <li>Dr. Joyce Ho of Emory University</li>
    <li>Dr. Laura Rosella of the University of Toronto</li>
    </ul>

    {{ components.subsubsection("Tutorial Chairs") }}

    <ul>
    <li>Ahmed Nasir of Trillium Health Partners</li>
    <li>Dr. Andrew Beam of Harvard University</li>
    <li>Irene Chen of MIT</li>
    </ul>

    {{ components.subsubsection("Consortium Chairs") }}

    <ul>
    <li>Dr. Leo Celi of MIT</li>
    <li>Matthew McDermott of MIT</li>
    </ul>

    {{ components.subsubsection("Virtual Chairs") }}

    <ul>
    <li>Dr. Tom Pollard of MIT</li>
    <li>Dr. Alistair Johnson of MIT</li>
    </ul>

    {{ components.subsection("Executive Committee") }}

    <ul>
    <li>Dr. Marzyeh Ghassemi of University of Toronto, Vector Institute</li>
    <li>Dr. Tristan Naumann of Microsoft Research Seattle</li>
    <li>Dr. Joyce Ho of Emory University</li>
    <li>Dr. Leo Celi of MIT</li>
    <li>Dr. Shalmali Joshi of the Vector Institute</li>
    <li>Dr. Andrew Beam of Harvard University</li>
    <li>Dr. Ziad Obermeyer of University of California, Berkeley</li>
    <li>Dr. Oluwasanmi Koyejo of University of Illinois at Urbana-Champaign</li>
    <li>Dr. Avi Goldfarb of Rotman School of Management, University of Toronto</li>
    <li>Dr. Laura Rosella of Dalla Lana School of Public Health, University of Toronto</li>
    <li>Dr. Adrian Dalca of MIT and Harvard Medical School</li>
    <li>Dr. Rajesh Ranganath of NYU</li>
    <li>Irene Chen of MIT</li>
    <li>Matthew McDermott of MIT</li>
    <li>Dr. Katherine Heller at Duke University</li>
    <li>Dr. Uri Shalit of Technion</li>
    <li>Dr. Stephanie Hyland of Microsoft Research Cambridge, UK</li>
    <li>Dr. Danielle Belgrave of Microsoft Research Cambridge, UK</li>
    <li>Dr. Shakir Mohamed of DeepMind</li>
    <li>Dr. Alistair Johnson of MIT</li>
    <li>Dr. Tom Pollard of MIT</li>
    <li>Dr. Alan Karthikesalingam of Google Health UK</li>
    </ul>

    {{ components.subsection("Steering Committee") }}

    <ul>
    <li>Dr. Nigam Shah of Stanford University</li>
    <li>Dr. Stephen Friend of Oxford University</li>
    <li>Dr. Samantha Kleinberg of Stevens Institute of Technology</li>
    <li>Dr. Anna Goldenberg of The Hospital for Sick Children Research Institute</li>
    <li>Dr. Lucila Ohno-Machado of University of California, San Diego</li>
    <li>Dr. Noemie Elhadad of Columbia University</li>
    </ul>

    </div>

    <!-- Reviewers tab -->

    <div
    class="tab-pane fade"
    id="tab-reviewers"
    role="tabpanel"
    aria-labelledby="nav-profile-tab"
    >

    <style>
        tr:nth-child(even) {background-color: #ebf2f8;}
    </style>

    {{ components.section("Reviewers") }}

    <p>Thank you to all of the reviewers for ACM-CHIL 2020.</p>

    <table>
        <tbody>
        <tr>
        <td>Anas Abidin</td>
        <td>Ardavan Afshar</td>
        <td>Antonios Alexos</td>
        <td>Azin Asgarian</td>
        <td>Marta Avalos</td>
        </tr>
        <tr>
        <td>Amelia Averitt</td>
        <td>Turgay Ayer</td>
        <td>Mohammad Taha Bahadori</td>
        <td>Ioana Baldini</td>
        <td>Seojin Bang</td>
        </tr>
        <tr>
        <td>Arun Baskaran</td>
        <td>Maxime Bassenne</td>
        <td>Jean-Emmanuel Bibault</td>
        <td>William Boag</td>
        <td>Anthony Bonifonte</td>
        </tr>
        <tr>
        <td>Nathaniel Braman</td>
        <td>Michael Brudno</td>
        <td>Lucas Bulgarelli</td>
        <td>Ciro Cattuto</td>
        <td>Elias Chaibub Neto</td>
        </tr>
        <tr>
        <td>Ankush Chakrabarty</td>
        <td>Chun-Hao Chang</td>
        <td>Marie Charpignon</td>
        <td>Irene Chen</td>
        <td>Jieshi Chen</td>
        </tr>
        <tr>
        <td>Lujie Chen</td>
        <td>Po-Hsuan Cameron Chen</td>
        <td>Edward Choi</td>
        <td>Olivia Choudhury</td>
        <td>Rumi Chunara</td>
        </tr>
        <tr>
        <td>Glen Colopy</td>
        <td>Andrew M. Dai</td>
        <td>Nandita Damaraju</td>
        <td>Sajad Darabi</td>
        <td>Jacob Deasy</td>
        </tr>
        <tr>
        <td>Charles Delahunt</td>
        <td>Sewale Demeke</td>
        <td>Xiaorong Ding</td>
        <td>Elham Dolatabadi</td>
        <td>Michael Dusenberry</td>
        </tr>
        <tr>
        <td>Shayan Fazeli</td>
        <td>Alex Fedorov</td>
        <td>Melanie Fernandez Pradier</td>
        <td>Ben Fine</td>
        <td>Sam Finlayson</td>
        </tr>
        <tr>
        <td>Gerardo Flores</td>
        <td>Sara Fontanella</td>
        <td>Jessica Forde</td>
        <td>Jason Fries</td>
        <td>Chufan Gao</td>
        </tr>
        <tr>
        <td>Leon Gatys</td>
        <td>Nathan Gaw</td>
        <td>Michael Gensheimer</td>
        <td>Lovedeep Gondara</td>
        <td>Jen Gong</td>
        </tr>
        <tr>
        <td>Robert Hatch</td>
        <td>Katharina Hoebel</td>
        <td>Xinyuan Hu</td>
        <td>Xiaolei Huang</td>
        <td>Benjamin Huynh</td>
        </tr>
        <tr>
        <td>Stephanie Hyland</td>
        <td>Vincent Jeanselme</td>
        <td>Di Jin</td>
        <td>Qiao Jin</td>
        <td>Alistair Johnson</td>
        </tr>
        <tr>
        <td>Kenneth Jung</td>
        <td>Mohammad Kachuee</td>
        <td>Kyriaki Kalimeri</td>
        <td>Gael Kamdem De Teyou</td>
        <td>Anitha Kannan</td>
        </tr>
        <tr>
        <td>Jonas Kemp</td>
        <td>Aria Khademi</td>
        <td>Muhammad Raza Khan</td>
        <td>Taylor Killian</td>
        <td>Arinbjörn Kolbeinsson</td>
        </tr>
        <tr>
        <td>Benjamin Kompa</td>
        <td>Pavitra Krishnaswamy</td>
        <td>Christoph Kurz</td>
        <td>David Ledbetter</td>
        <td>Joseph Ledsam</td>
        </tr>
        <tr>
        <td>Hyunkwang Lee</td>
        <td>Kathleen Lewis</td>
        <td>Wenyuan Li</td>
        <td>Paul Pu Liang</td>
        <td>Ruizhi Liao</td>
        </tr>
        <tr>
        <td>Dianbo Liu</td>
        <td>Sheng Liu</td>
        <td>Yuan Liu</td>
        <td>Daniel Lizotte</td>
        <td>Justin Lovelace</td>
        </tr>
        <tr>
        <td>Gurunath Reddy Madhumani</td>
        <td>Rafid Mahmood</td>
        <td>Jacqueline Mallett</td>
        <td>Ben Marafino</td>
        <td>Razvan Marinescu</td>
        </tr>
        <tr>
        <td>Dominic Marshall</td>
        <td>Glen Martin</td>
        <td>Matthew McDermott</td>
        <td>Mollie McKillop</td>
        <td>Yelena Mejova</td>
        </tr>
        <tr>
        <td>Vishwali Mhasawade</td>
        <td>Sami Mian</td>
        <td>Andrew Miller</td>
        <td>Yonatan Mintz</td>
        <td>Akinori Mitani</td>
        </tr>
        <tr>
        <td>Pablo Moreno-Munoz</td>
        <td>Mehul Motani</td>
        <td>Sumit Mukherjee</td>
        <td>Gautam Muralidhar</td>
        <td>Balamurali Murugesan</td>
        </tr>
        <tr>
        <td>Chirag Nagpal</td>
        <td>Vivek Natarajan</td>
        <td>Meike Nauta</td>
        <td>Daniel Neil</td>
        <td>Amber Nigam</td>
        </tr>
        <tr>
        <td>Sarvesh Nikumbh</td>
        <td>Beau Norgeot</td>
        <td>Mustapha Olayemi Oloko-Oba</td>
        <td>Subba Reddy Oota</td>
        <td>Eric Oermann</td>
        </tr>
        <tr>
        <td>Ozan Oktay</td>
        <td>Agni Orfanoudaki</td>
        <td>Julien Oster</td>
        <td>Danielle Pace</td>
        <td>Konstantina Palla</td>
        </tr>
        <tr>
        <td>Trishan Panch</td>
        <td>Sai Prabhakar Pandi Selvaraj</td>
        <td>Kruti Pandya</td>
        <td>Nicolas Papernot</td>
        <td>Arijit Patra</td>
        </tr>
        <tr>
        <td>Yifan Peng</td>
        <td>Ioakeim Perros</td>
        <td>Stephen Pfohl</td>
        <td>Tom Pollard</td>
        <td>Eduardo Pontes Reis</td>
        </tr>
        <tr>
        <td>Sandhya Prabhakaran</td>
        <td>Aniruddh Raghu</td>
        <td>Deepta Rajan</td>
        <td>Rajesh Ranganath</td>
        <td>Gregory Rehm</td>
        </tr>
        <tr>
        <td>Victor Rielly</td>
        <td>Frank Rudzicz</td>
        <td>Kuheli Sai</td>
        <td>Nicola Sahar</td>
        <td>John Santerre</td>
        </tr>
        <tr>
        <td>Guillermo Sapiro</td>
        <td>Allen Schmaltz</td>
        <td>Jessica Schrouff</td>
        <td>Khawla Seddiki</td>
        <td>Uri Shalit</td>
        </tr>
        <tr>
        <td>Divya Shanmugam</td>
        <td>Shanya Sharma</td>
        <td>Vishakha Sharma</td>
        <td>Jay Shaw</td>
        <td>Harvineet Singh</td>
        </tr>
        <tr>
        <td>Rina Singh</td>
        <td>Rohit Singla</td>
        <td>Frank Soboczenski</td>
        <td>Nataliya Sokolovska</td>
        <td>Hossein Soleimani</td>
        </tr>
        <tr>
        <td>Rafael Sousa</td>
        <td>Ramya Srinivasan</td>
        <td>Lina Sulieman</td>
        <td>Zhaonan Sun</td>
        <td>Antonio Sze-To</td>
        </tr>
        <tr>
        <td>Sarah Tan</td>
        <td>Devin Taylor</td>
        <td>Neil Tenenholtz</td>
        <td>Nenad Tomasev</td>
        <td>Elizabeth Tran</td>
        </tr>
        <tr>
        <td>Chad Vanderbilt</td>
        <td>Benjamin Villard</td>
        <td>Yunlong Wang</td>
        <td>Eric Wu</td>
        <td>Adam Yala</td>
        </tr>
        <tr>
        <td>Dig Vijay Kumar Yarlagadda</td>
        <td>Kejing Yin</td>
        <td>Jinsung Yoon</td>
        <td>Lee Zamparo</td>
        <td>Haoran Zhang</td>
        </tr>
        <tr>
        <td>Luna Zhang</td>
        <td>Xiaoyi Zhang</td>
        <td>Henghui Zhu</td>
        <td></td>
        <td></td>
        </tr>
        </tbody></table>


    </div>

</div>

{% endblock %}
