{#
Components:
tabs -- Navigation tabs
section, subsection, sm_section -- bootstrap sections
speakergroup
organizergroup
faqgroup
highlightgroup
tutorialgroup
roundtablegroup
proceedingpgroup
symposiumpgroup
workshopgroup
sponsorgroup
slideslive
rocketchat
schedule
#}

{% macro tabs(tab_group) -%}
<ul class="nav nav-pills justify-content-center">
  {% for tab in tab_group %}
  <li class="nav-item">
    <a
      class="nav-link {{tab[2]}} text-muted "
      data-toggle="tab"
      href="#tab-{{tab[0]}}"
      role="tab"
      aria-controls="nav-home"
      aria-selected="true"
      >{{tab[1]}}
    </a>
  </li>
  {% endfor %}
</ul>
{%- endmacro %}

{% macro section(name) -%}
<div class="border-top my-3"></div>
<div class="row p-4" id="faq">
  <div class="col-12 bd-content">
    <h2 class="text-center">{{name}}</h2>
  </div>
</div>
{%- endmacro %}

{% macro subsection(name) -%}
<div class="row p-3">
  <div class="col-12 bd-content">
    <h3>{{name}}</h3>
  </div>
</div>
{%- endmacro %}

{% macro sm_section(name) -%}
<div class="border-top my-3"></div>
<div class="row p-4" id="faq">
  <div class="col-12 bd-content">
    <h4 class="text-center">{{name}}</h4>
  </div>
</div>
{%- endmacro %}

{% macro speakergroup(speakers) -%}
{% for speaker in speakers or [] %}
<div class="row p-4">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <div class="row">
          <div class="col-md-2 col-sm-5">
            <img src="/{{speaker.image}}" width="100%" class="img-thumbnail" alt="{{speaker.speaker}}" />
          </div>
          <div class="col-md-10 col-sm-6">
            <div class="m-3 text-muted">
              <h3>
                  {{speaker.title}}
                </a>
              </h3>
            </div>
            <div class="m-3 text-muted">
              <span class="card-title h3">
                {{speaker.speaker}} {% if speaker.institution %} / {{speaker.institution}} {% endif %}
              </span>
            </div>
            <div class="m-3 text-muted">
              <span class="card-title h3">
                <a href="{{speaker.website}}" target="_blank" rel="noopener">{{speaker.website}}</a>
              </span>
            </div>
            <div class="m-3">
              {% if speaker.abstract %}
                <p> Abstract: {{speaker.abstract|safe}} </p>
              {% endif %}
              {% if speaker.bio %}
                <p> Bio: {{speaker.bio|safe}} </p>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endfor %}
{%- endmacro %}

{% macro organizergroup(committee) -%}
<div class="row">
  {% for org in committee or [] %}
  <div class="col-md-4 col-xs-6">
    <div class="pp-card">
      <div class="pp-card-header" class="text-muted">
        <h5 class="card-title" align="center">{{org.name}}</h5>
        <div>
          <h6 class="card-subtitle text-muted m-1" align="center">
            {{org.role}}
          </h6>
        </div>
        <div>
          <h6 class="card-subtitle text-muted m-1" align="center">
            {{org.aff}}{% if org.tw %} /
            <a class="text-muted" href="http://twitter.com/{{org.tw}}"
              >@{{org.tw}}</a
            >{% endif %}
          </h6>
        </div>
        <center>
          <img src="{{org.im}}" class="rounded" style="height: 150px;" />
        </center>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{%- endmacro %}

{% macro faqgroup(FAQ) -%}
{% for section in FAQ %}
{{ subsection(section.Section) }}

{% set rowloop = loop.index %}
{% for qa in section.QA %}
<div class="row">
  <div class="col-12" id="accordionExample">
    <div class="card m-2">
      <div class="card-header">
        <a
          class=""
          href="#"
          data-toggle="collapse"
          data-target="#collapse{{rowloop}}-{{loop.index}}"
          aria-expanded="true"
          aria-controls="collapse{{rowloop}}-{{loop.index}}"
        >
          {{qa.Question}}
        </a>
      </div>
      <div
        id="collapse{{rowloop}}-{{loop.index}}"
        class="collapse"
        aria-labelledby="headingOne"
        data-parent="#accordionExample"
      >
        <div class="card-body">
          {{qa.Answer}}
        </div>
      </div>
    </div>
  </div>
</div>
{% endfor %}
{% endfor %}
{%- endmacro %}

{% macro highlightgroup(papers, id) -%}
<div class="row my-auto mx-auto">
  <div
    id="carouselExample{{id}}"
    class="carousel slide d-none d-md-block"
    data-interval="false"
  >
    <div class="carousel-inner cards" role="listbox">
      {% for openreview in papers or [] %}
      {% if loop.index % 3 == 1 %}
      <div class="carousel-item {% if loop.index == 1%} active{% endif %}">
        {% endif %}
        <div class="col-md-4 col-xs-6 fluid">
          <div class="pp-card">
            <div class="pp-card-header">
              <a href="poster_{{openreview.UID}}.html" class="text-muted">
                <h5 class="card-title" align="center">
                  {{openreview.title}}
                </h5>
              </a>
              <h6 class="card-subtitle text-muted" align="center">
                {% for a in openreview.authors %}
                {{a}},
                {% endfor %}
              </h6>
              <center>
                <img
                  class="cards_img lazy-load-img"
                  data-src="https://iclr.github.io/iclr-images/{{openreview.UID}}.png"
                  width="80%"
                />
              </center>
            </div>
          </div>
        </div>
        {% if loop.index % 3 == 0 or loop.index == loop.length %}
      </div>
      {% endif %}
      {% endfor %}
    </div>
    <a
      class="carousel-control-prev"
      href="#carouselExample{{id}}"
      role="button"
      data-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a
      class="carousel-control-next"
      href="#carouselExample{{id}}"
      role="button"
      data-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>
{%- endmacro %}

{% macro tutorialgroup(tutorials) -%}
{% for tutorial in tutorials or [] %}
<div class="row p-4">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <div class="row">
          <div class="col-md-2 col-sm-5">
            <img src="/{{tutorial.image}}" width="100%" class="img-thumbnail" alt="{{tutorial.organizers | join(", ")}}" />
          </div>
          <div class="col-md-10 col-sm-6">
            <div class="m-3 text-muted">
              <h3>
                  {{tutorial.title}}
                </a>
              </h3>
            </div>
            <div class="m-3 text-muted">
              <span class="card-title h3">
                {{tutorial.organizers | join(", ")}}
              </span>
            </div>
            <div class="m-3">
              {% if tutorial.abstract %}
                <p> Abstract: {{tutorial.abstract|safe}} </p>
              {% endif %}
              {% if tutorial.abstract %}
                <p> Bio: {{tutorial.bio|safe}} </p>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endfor %}
{%- endmacro %}

{% macro roundtablegroup(roundtables) -%}
{% for roundtable in roundtables or [] %}
<div class="row p-4">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <div class="row">
          <div class="col-md-2 col-sm-5">
            {% if roundtable.image %}
             <img src="/{{roundtable.image}}" width="100%" class="img-thumbnail" alt="{{roundtable.organizers | join(", ")}}" />
            {% endif %}
          </div>
          <div class="col-md-10 col-sm-6">
            <div class="m-3 text-muted">
              <h3>
                  {{roundtable.title}}
                </a>
              </h3>
            </div>
            <div class="m-3 text-muted">
              <span class="card-title h3">
                Discussion leader: {{roundtable.organizers | join(", ")}}
              </span>
            </div>
            <div class="m-3">
              {% if roundtable.abstract %}
                <p> {{roundtable.abstract|safe}} </p>
              {% endif %}
              {% if roundtable.bio %}
                <p> Bio: {{roundtable.bio|safe}} </p>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endfor %}
{%- endmacro %}

{% macro proceedingpgroup(proceedings) -%}
<div class="cards row">
  {% for proceeding in proceedings or [] %}
  <div class="col-md-12 col-sm-12 p-3">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title main-title">
          <a href="proceeding_{{proceeding.id}}.html" class="main-title">
            {{proceeding.title}}
          </a>
        </h3>
        <div class="card-subtitle text-muted text-left">
          {{ proceeding.organizers | join("; ") }}
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{%- endmacro %}

{% macro symposiumpgroup(symposiums) -%}
<div class="cards row">
  {% for symposium in symposiums or [] %}
  <div class="col-md-12 col-sm-12 p-3">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title main-title">
          <a href="symposium_{{symposium.id}}.html" class="main-title">
            {{symposium.title}}
          </a>
        </h3>
        <div class="card-subtitle text-muted text-left">
          {{ symposium.organizers | join("; ") }}
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{%- endmacro %}

{% macro workshopgroup(workshops, type) -%}
<div class="cards row">
  {% for workshop in workshops or [] %}
  <div class="col-md-6 col-sm-12 p-3" style="box-sizing: border-box;">
    <div class="card" style="display: block; overflow: hidden; width: 100%;">
      <div
        class="card-header text-center"
        style="min-height: 200px; width: 100%;"
      >
        <a class="text-muted" href="{% if type == 'proceeding' %}proceeding{% else %}workshop{% endif %}_{{workshop.id}}.html">
          <h3 class="card-title main-title">
            {{workshop.id}} - {{workshop.title}}
          </h3>
        </a>
        <div class="card-subtitle text-muted">
          {{ workshop.organizers | join(", ") }}
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{%- endmacro %}

{% macro sponsorgroup(sponsors) -%}
<div class="row sponsors">
  {% for sponsor in sponsors or [] %}
  <div class="{% if sponsor.level == 'silver' %}col-md-6{% else %}col-md-6{% endif %} col-xs-6 mx-auto">
    <div class="pp-card sponsor {{sponsor.level}}">
      <div class="pp-card-header" class="text-muted">
        <img src="{{sponsor.image}}" class="rounded {{sponsor.level}}" alt="{{sponsor.name}}" />
        <a href="{{sponsor.website}}" class="stretched-link"></a>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{%- endmacro %}

{% macro slideslive(slideslive_id, slideslive_active_date) -%}
{% if slideslive_id %}
<div id="slideslive-embed" class="col-md-12 col-xs-12 my-auto p-2 hide" data-activedate="{{slideslive_active_date}}">
  <div id="presentation-embed-{{slideslive_id}}" class="slp my-auto"></div>
  <script src='https://slideslive.com/embed_presentation.js'></script>
  <script>
    embed = new SlidesLiveEmbed("presentation-embed-{{slideslive_id}}", {
        presentationId: "{{slideslive_id}}",
        autoPlay: false, // change to true to autoplay the embedded presentation
        verticalEnabled: true,
        verticalWhenWidthLte: 480,
    });
  </script>
</div>
<p></p>
<h6 align="center"> <span style="font-size: 80%">If the Livestream seems inaccessible, please try refreshing your browser. Clicking the "LIVE" button ensures you are in sync with the live content.</span></h6>
{% endif %}
{%- endmacro %}

{% macro rocketchat(rocketchat_id,chat_server) -%}
{% if rocketchat_id %}
{{ section("Chat") }}
  <h6 align="left"><p>To sign in to rocket.chat, click the <b>Login via Auth0</b> button. You do not need to enter an
    email and password. You will be asked to choose a nickname.</p>
    <p>Click <a href="https://chat.chilconference.org" target="_blank">here</a> to open rocket.chat in a new browser
      tab.</p>
  </h6>
<div class="col-md-12 col-xs-12 p-2">
  <div id="gitter" class="slp">
    <center>
      <iframe id="chatFrame" frameborder="0" src="https://{{chat_server}}/channel/{{rocketchat_id}}" height="650px"
              width="100%" ></iframe>
    </center>
  </div>
</div>
{% endif %}
{%- endmacro %}

{% macro schedule(day) -%}
<div class="cards row">
  <table class="table-schedule table table-striped table-responsive">
  <thead>
    <tr>
      <th scope="col" width=150px>Time (EDT)</th>
      <th scope="col" width=120px>Type</th>
      <th scope="col">Title</th>
      <th scope="col">Speaker</th>
      <th scope="col">Moderator</th>
      <th scope="col" width=100px></th>
    </tr>
  </thead>
    <tbody>
    {% for row in day %}
    <tr>
      <td>{% if row.time %}{{ row.time }}{% endif %}</td>
      <td>{% if row.type %}{{ row.type }}{% endif %}</td>
      <td>{% if row.doclink %}<a href="{{ row.doclink }}" />{% endif %}
          {% if row.title %}{{ row.title }}{% endif %}
          {% if row.doclink %}</a>{% endif %}</td>
      <td>{% if row.speaker %}{{ row.speaker }}{% endif %}</td>
      <td>{% if row.moderator %}{{ row.moderator }}{% endif %}</td>
      <td>{% if row.link and row.linkactive %}<a href="{{ row.link }}" target="_blank"  rel="noopener">{% endif %}
          {% if row.linktext %}{{ row.linktext }}{% endif %}
          {% if row.link and row.linkactive %}</a>{% endif %}</td>
    </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
{%- endmacro %}
