{% set active_page = "Home" %}
{% extends "base.html" %}

{% block top %}
<style>
  .back {
    background: url("{{config.background_image}}") no-repeat center;
    background-size: cover;
  }
  .back h2 {
    font-family: "Lato", sans-serif;
    font-weight: 900;
  }
</style>

<div class="jumbotron jumbotron-fluid back" style="padding-bottom: 20px;">
  <div class="row header p-6 m-5">
    <div class="p-1 mx-auto text-center text-white col-md-9 col-sm-12">
      <h2>
        {{config.tagline|safe}}
      </h2>
      <h2 class="p-5">
        {{config.date|safe}}
      </h2>
    </div>
  </div>
</div>
{% endblock %}

{% block content %}

<div class="row">
  <div class="col-md-7 col-sm-12 pr-5 lead">
    <p>Welcome to ACL2020!<br><br>
      Here is how to use this website to find live events (at fixed times) plus pre-recorded talks you can watch anytime.
    </p>
    <dl>
      <dt>Schedule</dt>
      <dd>Use the <a class="text-muted" href="schedule.html" target="_blank">Schedule</a> to find live sessions and set your timezone.
      </dd>
      <dt>Plenary Sessions</dt>
      <dd>Plenary Sessions include Keynote Talks and the Business and Review meetings (pre-recorded talks + live Q&A), plus Awards ceremonies.
        Use the <a class="text-muted" href="livestream.html" target="_blank"></a>Livestream</a> to watch live sessions in real time. Pre-recorded videos are available under <a class="text-muted" href="plenary_sessions.html" target="_blank">Plenary Sessions</a>.
      </dd>
      <dt>Main Conference Papers</dt>
      <dd>Each <a class="text-muted" href="papers.html" target="_blank">paper</a> has a pre-recorded 7-12 minute talk, 
        two live Q&A video sessions (on Zoom) at different times, and a linked RocketChat channel (for chatting anytime with the author).
        This includes <a class="text-muted" href="papers.html?filter=titles&track=Demo" target="_blank">System Demonstrations</a> and <a class="text-muted" href="papers.html?filter=titles&track=Student+Research+Workshop" target="_blank">Student Research Workshop papers</a>.
      </dd>
      <dt>Tutorials and Workshops</dt>
      <dd>The 8 <a class="text-muted" href="tutorials.html" target="_blank">tutorials</a> (July 5) and 20 <a class="text-muted" href="workshops.html" target="_blank">workshops</a> (July 5/9/10) are all included under conference registration.
        Some are fully pre-recorded, others include live sessions as well!
      </dd>
      <dt> Sponsors</dt>
      <dd>Meet our <a class="text-muted" href="sponsors.html" target="_blank">sponsors</a>.</dd>
      <dt>Chat</dt>
      <dd>Chat with attendees using various <a class="text-muted" href="chat.html" target="_blank">RocketChat</a> channels! 
        When you access RocketChat for the first time, click on 'Login via ACL2020 account' and your ACL2020 credentials will be automatically used to log you in to RocketChat.</dd>
      <dt>Socials</dt>
      <dd>Meet new people using <a class="text-muted" href="socials.html" target="_blank">social events</a> throughout the week.</dd>
      <dt> Help</dt>
      <dd> Look under <a class="text-muted" href="about.html" target="_blank">Help</a> for FAQs and technical support.</dd>
      <dt> Social Media</dt>
      <dd> Use the hashtag  <span style="font-weight: bold; font-family: 'Consolas', 'Deja Vu Sans Mono', 'Bitstream Vera Sans Mono', monospace;">#ACL2020</span></dd>
    </dl>
  </div>
  <!-- <div class="col-md-1"></div> -->
  <div class="col-md-5 col-sm-12">
    <div class="text-center mt-4">
      <h5>Announcements</h5>
      <div class="col-md-12 col-xs-12">
        <div id="gitter" class="slp">
          <center>
            <iframe frameborder="0" src="https://{{config.chat_server}}/channel/announcements?layout=embedded" height="500px" width="100%" ></iframe>
          </center>
        </div>
      </div>
    </div>
    <div class="text-center mt-4">
      <h5> About the virtual <br> conference website</h5>
      <div id="presentation-embed" class="slp embed-responsive embed-responsive-16by9">
        <script src='https://slideslive.com/embed_presentation.js'></script>
        <script>
          embed = new SlidesLiveEmbed('presentation-embed', {
          presentationId: '{{config.default_presentation_id}}',
          autoPlay: false, // change to true to autoplay the embedded presentation
          verticalEnabled: true,
          verticalWhenWidthLte: 2000,
          allowHiddenControlsWhenPaused: true,
          hideTitle: true
          });
        </script>
      </div>
    </div>  
  </div>
</div>
<br/>

{% endblock %}
