{% set active_page = "Live" %}
{% set page_title = "Live" %}
{% extends "base.html" %}

{% block top %}
{% endblock %}

{% block tabs %}
{% endblock %}

{% block content %}
  <div class="page-header text-center">
    <h1>Livestream</h1>
  </div>
  <div id="gated-content" class="page-content live">
    <!-- Slides Live-->
    <!-- {{ components.subsection("Day 1 - April 7th") }} -->
    {{ components.slideslive(38979174) }}

    <!--
    {{ components.subsection("Day 2 - April 8th") }}
    {{ components.slideslive(38979175) }}
    -->

    <!--
    {{ components.slideslive(config.default_presentation_id) }}
    -->

    <!-- Rocket.Chat -->
    {{ components.rocketchat(config.default_chat_channel,config.chat_server) }}

    {{ components.section("Useful Links") }}
    {{ live | markdown }}

    {{ components.sm_section("Media Release Statement") }}
    {{ media | markdown }}

  </div>
{% endblock %}
