{% extends "base.html" %}
{% set active_page = "Papers" %}
{% set page_title = "Papers" %}

{% block head %}
{{ super() }}
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.4.0/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/tippy.js@6/dist/tippy-bundle.umd.min.js"></script>

<script src="static/js/icons.js"></script>
<script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>

{% endblock %}

{% block content %}
<!-- Buttons -->
<div class="btn-toolbar mb-3" role="toolbar" aria-label="Toolbar with button groups">
  <div class="input-group mr-3">
    <input
      type="text"
      class="form-control typeahead_all"
      placeholder="Search"
    />
    <div class="input-group-append">
      <button
        class="btn btn-outline-secondary typeahead_all_clear"
        type="button"
      >
        &times;
      </button>
    </div>
  </div>

  <div class="btn-group mr-3 btn-group-toggle filter_option">
    <label
      class="btn btn-outline-secondary"
      data-tippy-content="Search for papers titles"
    >
      <input
        type="radio"
        name="options"
        value="titles"
        autocomplete="off"
        checked
      />
      title
    </label>
    <!--
    <label
      class="btn btn-outline-secondary"
      data-tippy-content="Search for papers with specific keywords"
    >
      <input
        type="radio"
        name="options"
        value="keywords"
        autocomplete="off"
      />
      keyword
    </label>
    -->
    <label
      class="btn btn-outline-secondary"
      data-tippy-content="Search for papers from specific authors"
    >
      <input type="radio" name="options" value="authors" autocomplete="off" />
      author
    </label>
  </div>

  <!--
  <button class="btn btn-outline-secondary reshuffle">shuffle</button>
  -->

  <!-- Compact/Detail -->
  <div
    class="btn-group btn-group-toggle render_option mr-3"
    data-toggle="buttons">

    <label class="btn btn-outline-secondary active">
      <input
        type="radio"
        name="options"
        value="compact"
        autocomplete="off"
        checked
      />
      compact
    </label>
    <label class="btn btn-outline-secondary">
      <input
        type="radio"
        name="options"
        value="detail"
        autocomplete="off"
      />
      detail
    </label>
  </div>

  <!-- Papers/Visualization -->
  <div
    class="btn-group btn-group-toggle mr-3 render_option"
    data-toggle="buttons">

    <label class="btn btn-outline-secondary active">
      <input
        type="radio"
        name="options"
        value="paper"
        autocomplete="off"
        checked
      />
      paper
    </label>
    <label class="btn btn-outline-secondary">
      <input
        type="radio"
        name="options"
        value="visualization"
        autocomplete="off"
      />
      <a href="papers_vis.html" class="deco-none">visualization</a>
    </label>
  </div>

  <div>
      <select id="track_selector" class="selectpicker" data-live-search="true" data-style="btn-light">
        <option>All tracks</option>
      {% for track in tracks %}
        <option>{{ track }}</option>
      {% endfor %}
      </select>
  </div>
</div>

<!-- Cards -->
<div class="cards row"></div>
<script src="static/js/little_helpers.js"></script>
<script src="static/js/lazy_load.js"></script>
<script src="static/js/persistor.js"></script>
<script src="static/js/papers.js"></script>
<script>
  $(document).ready(function () {
    tippy("[data-tippy-content]", { trigger: "mouseenter focus" });
    start("papers.json");
  });

  $('#track_selector').on('changed.bs.select', function (e, clickedIndex, isSelected, previousValue) {
    let track = e.target.value;
    if (track === "All tracks") {
      start("papers.json");
    } else {
      start("track_"  + track + ".json");
    }
  });
</script>

{% endblock %}

{% block footer %}

<div
  class="gdpr bg-dark text-light"
  style="padding: 10pt; position: fixed; bottom: 0; display: none;"
>
  We use cookies to store which papers have been visited.
  <div class="gdpr-btn btn btn-sm btn-info" style="margin-left: 15pt;">
    I agree
  </div>
</div>
<script src="static/js/gdpr_cookies.js"></script>

{% endblock %}
