{% extends "base.html" %}
{% set active_page = "Plenary" %}
{% set page_title = "Plenary Sessions" %}
{% block head %}
{{ super() }}
{% endblock %}



{% block tabs %}
{{ components.tabs([("july6", "July 6", "active"),
                    ("july7", "July 7", ""),
                    ("july8", "July 8", "")]) }}
{% endblock %}

{% block content %}

<div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">

  <!-- Day Tab -->
  <div
      class="tab-pane active show"
      id="tab-july6"
      role="tabpanel"
      aria-labelledby="nav-profile-tab"
  >
    {{ components.section("Plenary Sessions") }}
    <div class="col-12 bd-content">
      <h4 class="text-center">Watch Livestream <a href="livestream.html" target="_blank">Here</a></h4>
    </div>
    <div id="july6">
      <div class="plenary_sessions">
        {{ components.plenarysessiongroup(plenary_sessions["July 6"]) }}
      </div>

    </div>
  </div>

  <div
    class="tab-pane fade"
    id="tab-july7"
    role="tabpanel"
    aria-labelledby="nav-profile-tab"
  >
    {{ components.section("Plenary Sessions") }}
    <div class="col-12 bd-content">
      <h4 class="text-center">Watch Livestream <a href="livestream.html" target="_blank">Here</a></h4>
    </div>
    <div id="july7">
      <div class="plenary_sessions">
        {{ components.plenarysessiongroup(plenary_sessions["July 7"]) }}
      </div>
    </div>
  </div>

  <div
    class="tab-pane fade"
    id="tab-july8"
    role="tabpanel"
    aria-labelledby="nav-profile-tab"
  >
    {{ components.section("Plenary Sessions") }}
    <div class="col-12 bd-content">
      <h4 class="text-center">Watch Livestream <a href="livestream.html" target="_blank">Here</a></h4>
    </div>
    <div id="july8">
      <div class="plenary_sessions">
        {{ components.plenarysessiongroup(plenary_sessions["July 8"]) }}
      </div>
    </div>
  </div>
</div>

<script src="static/js/lazy_load.js"></script>
<script type="text/javascript">
  lazyLoader();
</script>

{% endblock %}
