{% set page_title = plenary_session.title %}
{% extends "base.html" %}
{% block content %}

<!-- Title -->
<div class="pp-card m-3" style="">
  <div class="card-header">
    <h2 class="card-title main-title text-center" style="color:black">
      {{plenary_session.title}}
    </h2>
    {% if plenary_session.spaker != none %}
    <h3 class="card-subtitle mb-2 text-muted text-center">
      {{plenary_session.speaker}}
      {% if plenary_session.institution %}
      / {{plenary_session.institution}}
      {% endif %}
    </h3>
    {% endif %}

    {% if plenary_session.qa_time != none %}
    <div class="text-center text-muted text-monospace ">
      <div>
      Live QA:
      <span class="session_times">{{plenary_session.qa_time}}</span>
      </div>
    </div>
    {% endif %}

    {% if plenary_session.abstract %}
    <div class="text-center p-3">
      <a class="card-link" data-toggle="collapse" role="button" href="#details">
        Abstract & Bio
      </a>
    </div>
    <div id="details" class="pp-card m-3 collapse">
      <div class="card-body">
        <div class="card-text">
          <div id="abstractExample">
            <span class="font-weight-bold">Abstract:</span>
            {{plenary_session.abstract|safe}} <br /><br />

            <span class="font-weight-bold">Bio:</span>
            {{plenary_session.bio|safe}}
          </div>
        </div>
        <p></p>
      </div>
    </div>
    {% endif %}

  </div>
</div>


<div class="container" style="background-color:white; padding: 0px;">
  <div class="row m-2">
  <!-- Presentation Embed -->
  {% if plenary_session.rocketchat_channel %}
  <div class="col-md-7 col-xs-12 my-auto p-2" >
  {% else %}
    <div class="col-md-12 col-xs-12 my-auto p-2" >
  {% endif %}
  <div id="presentation-embed" class="slp my-auto"></div>
  <script src='https://slideslive.com/embed_presentation.js'></script>
  {% if plenary_session.presentation_id != none %}
  {% set presentation_id =  plenary_session.presentation_id%}
  {% else %}
  {% set presentation_id =  config.default_presentation_id%}
  {% endif %}
  <script>
    embed = new SlidesLiveEmbed('presentation-embed', {
      presentationId: '{{config.default_presentation_id}}', // FIXME: when the talks are ready
      autoPlay: false, // change to true to autoplay the embedded presentation
      verticalEnabled: true,
      verticalWhenWidthLte: 500,
      allowHiddenControlsWhenPaused: true,
      hideTitle: true
    });
  </script>
  </div>
  <!-- Chat -->
  {% if plenary_session.rocketchat_channel %}
  <div class="col-md-5 col-xs-12 p-2">
    <div id="gitter" class="slp">
      <iframe frameborder="0" src="https://{{config.chat_server}}/channel/{{plenary_session.rocketchat_channel}}?layout=embedded" height="700px" width="100%" ></iframe>
    </div>
  </div>
  {% endif %}
  </div>
</div>

{% endblock %}
