<!-- prettier-ignore -->
{% extends "base.html" %}
<!-- prettier-ignore -->
{% block content %}

<!-- Title -->
<div class="pp-card m-3" style="">
  <div class="card-header">
    <h2 class="card-title main-title text-center" style="">
      {{paper.content.title}}
    </h2>
    <h3 class="card-subtitle mb-2 text-muted text-center">
      <!-- prettier-ignore -->
      {% for author in paper.content.authors %}
      <a href="papers.html?filter=authors&search={{author}}" class="text-muted">{{author}}</a>
      <!-- prettier-ignore -->
      {{ "," if not loop.last }}
      <!-- prettier-ignore -->
      {% endfor %}
    </h3>
    <p class="card-text text-center">
      <span class="">Keywords:</span>
      {% for keyword in paper.content.keywords %}
      <a
        href="papers.html?filter=keywords&search={{keyword}}"
        class="text-secondary text-decoration-none"
        >{{keyword}}</a
      >{{ "," if not loop.last }} {% endfor %}
    </p>
    <div class="text-center p-3">
      <a class="card-link" data-toggle="collapse" role="button" href="#details">
        Abstract
      </a>
      <a class="card-link" target="_blank" href="{{paper.link}}">
        Paper
      </a>
      {% if paper.content.code != blank %}
      <a href="{{paper.content.code}}" target="_blank" class="card-link">
        Code
      </a>
      {% endif %}
    </div>
  </div>
</div>
<div id="details" class="pp-card m-3 collapse">
  <div class="card-body">
    <div class="card-text">
      <div id="abstractExample">
        <span class="font-weight-bold">Abstract:</span>
        {{paper.content.abstract}}
      </div>
    </div>
    <p></p>
  </div>
</div>

<!-- Presentation Embed -->
{{ components.section("Paper") }}

<h5 style="color: red;">
  Add content for posters. This could be a video, embedded pdf, chat room ....
</h5>

<!-- prettier-ignore -->
{% endblock %}
