<!-- prettier-ignore -->
{% set active_page = "Schedule" %}
<!-- prettier-ignore -->
{% extends "base.html" %}
<!-- prettier-ignore -->
{% block head %}
<!-- prettier-ignore -->
{{ super() }}
<!-- prettier-ignore -->
{% include 'cal_head.html' %}
<!-- prettier-ignore -->
{% endblock %}

<!-- prettier-ignore -->
{% block tabs %}
<!-- prettier-ignore -->
{{components.tabs([("calendar", "Calendar", "active"), ("day", "Example Day", "")])}}
<!-- prettier-ignore -->
{% endblock %}

<!-- prettier-ignore -->
{% block content %}
<div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
  <!-- Calender tab -->
  <div
    class="tab-pane active"
    id="tab-calendar"
    role="tabpanel"
    aria-labelledby="nav-profile-tab"
  >
    <div id="calendar"></div>
    <script type="text/javascript">
      // eslint-disable-next-line no-undef
      make_cal("static/calendars/basic.ics");
    </script>
  </div>

  <!-- Day Tab -->

  <div
    class="tab-pane fade"
    id="tab-day"
    role="tabpanel"
    aria-labelledby="nav-profile-tab"
  >
    <div id="day">
      <!-- Speakers -->
      {{ components.section("Speakers") }}
      <div class="speakers">
        {{ components.speakergroup(day.speakers) }}
      </div>
      {{ components.section("Highlighted Papers") }}
      <div class="papers">
        {{ components.highlightgroup(day.highlighted, 1) }}
      </div>
    </div>
  </div>
</div>
{% endblock %}
