{% extends "base.html" %}
{% block head %}
{{ super() }}
{% include 'cal_head.html' %}
{% endblock %}

{% block tabs %}
{{tabs([("calendar", "Calendar", "active"),
        ("day", "Example Day", "")])}}
{% endblock %}


{% block content %}
<div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
  <div class="tab-pane active" id="tab-calendar" role="tabpanel" aria-labelledby="nav-profile-tab">
    <div id="calendar"> </div>
    <script type='text/javascript'>
      make_cal("static/calendars/basic.ics")
    </script>
  </div>
</div>
{% endblock %}
