{% set page_title = speaker.title %}
{% extends "base.html" %}
{% block content %}

<!-- Title -->
<div class="pp-card m-3" style="">
  <div class="card-header">
    <h2 class="card-title main-title text-center" style="">
      {{speaker.title}}
    </h2>
    <h3 class="card-subtitle mb-2 text-muted text-center">
      {{speaker.speaker}} / {{speaker.institution}}
    </h3>
    <div class="text-center p-3">
      <a class="card-link" data-toggle="collapse" role="button" href="#details">
        Abstract & Bio
      </a>
    </div>
    <div id="details" class="pp-card m-3 collapse">
      <div class="card-body">
        <div class="card-text">
          <div id="abstractExample">
            <span class="font-weight-bold">Abstract:</span>
            {{speaker.abstract|safe}} <br /><br />
    
            <span class="font-weight-bold">Bio:</span>
            {{speaker.bio|safe}}
          </div>
        </div>
        <p></p>
      </div>
    </div>
  </div>
</div>


<div class="container" style="background-color:white; padding: 0px;">
  <div class="row m-2">
  <!-- Presentation Embed -->
  <div class="col-md-7 col-xs-12 my-auto p-2" >
  <div id="presentation-embed-{{speaker.UID}}" class="slp my-auto"></div>
  <script src='https://slideslive.com/embed_presentation.js'></script>
  <script>
    embed = new SlidesLiveEmbed('presentation-embed-{{speaker.UID}}', {
      presentationId: '{{speaker.presentation_id | default(config.default_presentation_id)}}',
      autoPlay: false, // change to true to autoplay the embedded presentation
      verticalEnabled: true,
      verticalWhenWidthLte: 500,
      allowHiddenControlsWhenPaused: true,
      hideTitle: true
    });
  </script>
  </div>
  <!-- Chat -->
  <div class="col-md-5 col-xs-12 p-2">
  <div id="gitter" class="slp">
  <iframe frameborder="0" src="https://{{config.chat_server}}/channel/{{speaker.rocketchat_channel}}?layout=embedded" height="700px" width="100%" ></iframe>
  </div>
  </div>
  </div>
</div>

{% endblock %}
