{% set active_page = "Sponsorship" %}
{% set page_title = "Sponsorship" %}
{% extends "base.html" %}

{% block tabs %}


{% endblock %}

{% block content %}

{{ components.section("Sponsorship") }}

<p>Financial support ensures that ACM CHIL remains accessible to a broad set of participants by offseting the expenses involved in participation. We follow best practices in other ACM conferences to maintain a transparent and appropriate relationship with our funders:</p>

<ol>
<li>The substance and structure of the conference are determined independently by the program committees.</li>
<li>All papers are chosen through a rigorous, double-blind peer review process, where authors disclose conflicts of interest.</li>
<li>All sources of financial support are acknowledged.</li>
<li>Benefits are publicly disclosed below.</li>
<li>Corporate sponsors cannot specify how contributions are spent.</li>
<li>All attendees will be expected to follow the ACM Code of Conduct.</li>
</ol>

<h2>2020 Levels of Sponsorship:</h2>
<p>Sponsorship of the annual ACM Conference on Health, Inference and Learning (CHIL) contributes to furthering research and interdisciplinary dialogue around machine learning and health. We deeply appreciate any amount of support your company or foundation can provide.</p>

<h4>$75,000 USD</h4>
<ul>
<li>Sponsor Remarks</li>
<li>Company signage displayed at event opening through closing</li>
<li>Can provide company or foundation swag for conference goodie bags</li>
<li>Access to an opt-in database of attendees</li>
<li>Booth at conference event (all days)</li>
<li>Verbal acknowledgment of contribution in the opening and closing remarks of the conference (a single track session attended by all participants)</li>
<li>Free registration for up to 5 attendees from your organization </li>
<li>Company or foundation name and logo on website with link</li>
<li>Logo and thanks on all communications to all attendees</li>
</ul>

<h4>$50,000 USD</h4>
<ul>
<li>Can provide company or foundation swag for conference goodie bags</li>
<li>Access to an opt-in database of attendees</li>
<li>Booth at conference event (all days)</li>
<li>Verbal acknowledgment of contribution in the opening and closing remarks of the conference (a single track session attended by all participants)</li>
<li>Free registration for up to 3 attendees from your organization participants)</li>
<li>Company or foundation name and logo on website with link</li>
<li>Logo and thanks on all communications to all attendees </li>
</ul>

<h4>$25,000 USD</h4>
<ul>
<li>Booth at conference event (all days)</li>
<li>Verbal acknowledgment of contribution in the opening and closing remarks of the conference (a single track session attended by all participants)</li>
<li>Free registration for up to 2 attendees from your organization participants)</li>
<li>Company or foundation name and logo on website with link</li>
<li>Logo and thanks on all communications to all attendees</li>
</ul>

<h4>$10,000 USD</h4>
<ul>
<li>Verbal acknowledgment of contribution in the opening and closing remarks of the conference (a single track session attended by all participants)</li>
<li>Free registration for up to 1 attendee from your organizationparticipants)</li>
<li>Company or foundation name and logo on website with link</li>
<li>Logo and thanks on all communications to all attendees</li>
<li>No booth space</li>
</ul>

<h4>$5,000 USD</h4>
<ul>
<li>Company or foundation name and logo on website with link</li>
<li>Logo and thanks on all communications to all attendees</li>
<li>No booth space</li>
</ul>

<h2>Sponsorship Co-Chairs</h2>
<ul>
<li>Dr. Joyce Ho, Emory University</li>
<li>Dr. Laura Rosella, University of Toronto</li>
</ul>

{% endblock %}
