{% extends "base.html" %}
{% set page_title = sponsor.name %}
{% block content %}

<!-- Title -->
<div class="pp-card m-3" style="">
  <div class="card-header">
    <h2 class="card-title main-title text-center" style="">
      {{sponsor.name}}
    </h2>
    <div class="text-center p-3">
      <a class="card-link" data-toggle="collapse" role="button" href="{{sponsor.website}}">
        Visit Website
      </a>
    </div>
  </div>
</div>

<div id="details" class="pp-card m-3">
  <div class="card-body">
    <div class="card-text">
      <div id="description">
      <p>
        {{ sponsor.description|markdown }}
      </p>
      </div>
    </div>
  </div>
</div>

<div class="col-md-12 col-xs-12 row">
  <!-- Video -->
  {% if sponsor.youtube is defined %}
  <div class="col-md-6 col-xs-6">
    <iframe width="525" height="301" src="{{ sponsor.youtube }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
  {% endif %}

  <div class="col-md-6 col-xs-6">
    <!-- Contact -->
    <div class="card">
      <div class="card-title main-title text-center" style="">
      Contact
      </div>
      <div class="card-body">
      <div class="card-text">
        <ul>
          {% for contact in sponsor.contacts %}
          <li>{{ contact.name }} &lt;<a href="mailto:{{ contact.email }}">{{ contact.email }}</a>&gt;</li>
          {% endfor %}
        </ul>
      </div>
      </div>
    </div><br>

    <!-- Zoom Rooms -->
    <div class="card">
      <div class="card-title main-title text-center" style="">
        Zoom Rooms
      </div>
      <div class="card-body">
      <div class="card-text">
        {% for day, zooms in sponsor.zoom_times.items() %}
        <h5>{{ day }}</h5>
        <ul>
            {% for (time_string, label) in zooms %}
                <li> <span class="zoom_times">{{ time_string }}</span> {{     label }} </li>
            {% endfor %}
        </ul>
        {% endfor %}

      </div>
      </div>
    <br>

    <!-- Resources -->
    {% if sponsor.youtube is defined %}
    <div class="card">
      <div class="card-title main-title text-center" style="">
      Resources
      </div>
      <div class="card-body">
          <div class="card-text">
            <ul>
            {% for resource in sponsor.resources %}
                <li><a href="{{ resource.website }}">{{ resource.label }}</a></li>
            {% endfor %}
            </ul>
          </div>
      </div>
      </div>
    </div>
    {% endif %}
  </div>
</div>

<!-- Chat -->
<div class="col-md-12 col-xs-12 p-2">
  <div id="gitter" class="slp">
    <iframe frameborder="0" src="https://{{config.chat_server}}/channel/{{ sponsor.channel }}?layout=embedded" height="700px" width="100%" ></iframe>
  </div>
</div>

<script src="static/js/time-extend.js"></script>
<script>
  $(document).ready(()=>{
    add_local_tz('.zoom_times');
  });
</script>

{% endblock %}
