{% set page_title = tutorial.title %}
{% extends "base.html" %}
{% block content %}

<!-- Title -->
<div class="pp-card m-3" style="">
  <div class="card-header">
    <h2 class="card-title main-title text-center" style="">
      {{tutorial.id}}: {{tutorial.title}}
    </h2>
    <h3 class="card-subtitle mb-2 text-muted text-center">
      {{ tutorial.organizers | join(", ") }}
    </h3>
    <div class="text-center text-muted text-monospace">
      <div class="tutorial-times">
        {% if tutorial.session2_time %}
          <span class="tutorial_times">Live Session 1: {{tutorial.session1_time}}</span>
          <a href="{{tutorial.zoom_link}}" target="_blank"  class="card-link">
            <img
                src="static/images/zoom-icon.png"
                height="24px"
                alt="Join Zoom Meeting"
                title="Join Zoom Meeting"
            >
          </a>
          <br/>
          <span class="tutorial_times">Live Session 2: {{tutorial.session2_time}}</span>
          <a href="{{tutorial.zoom_link}}" target="_blank"  class="card-link">
            <img
                src="static/images/zoom-icon.png"
                height="24px"
                alt="Join Zoom Meeting"
                title="Join Zoom Meeting"
            >
          </a>
        {% else %}
          <span class="tutorial_times">Live Session: {{tutorial.session1_time}}</span>
          <a href="{{tutorial.zoom_link}}" target="_blank"  class="card-link">
            <img
                src="static/images/zoom-icon.png"
                height="24px"
                alt="Join Zoom Meeting"
                title="Join Zoom Meeting"
            >
          </a>
        {% endif %}        
      </div>
    </div>
    <div class="text-center p-3">
      <a class="card-link" data-toggle="collapse" role="button" href="#details">
        Description
      </a>
    </div>
  </div>
</div>
<div id="details" class="pp-card m-3 collapse hide">
  <div class="card-body">
    <div class="card-text">
      <div id="abstractExample">
        <span class="font-weight-bold">Abstract:</span>
        {{tutorial.abstract|safe}} <br />
      </div>
    </div>
    <p></p>
  </div>
</div>

<div class="container" style="background-color:white; padding: 0px;">
  <br/>
  <b>Information about the virtual format of this tutorial: </b> {{tutorial.virtual_format_description}}
  <br/>
  <div class="row m-2">    
    {% if tutorial.livestream %}
    <!-- Livestreaming -->
    <div class="col-md-7 col-xs-12 my-auto p-2" >
      <p>
        <b>Livestreaming</b>
      </p>
      <div id="presentation-embed" class="slp my-auto"></div>
      <script src='https://slideslive.com/embed_presentation.js'></script>
      <script>
        embed = new SlidesLiveEmbed('presentation-embed', {
        presentationId: '{{config.default_presentation_id}}',
        autoPlay: false, // change to true to autoplay the embedded presentation
        verticalEnabled: true,
        verticalWhenWidthLte: 500,
        allowHiddenControlsWhenPaused: true,
        hideTitle: true
        });
      </script>
    </div>
    {% endif %}

    <!-- Chat -->
    <br/>
    <div class="col-md-5 col-xs-12 p-2">
      <p>
        <b>RocketChat Channel discussion</b>
      </p>
      <div id="gitter" class="slp">
        <iframe frameborder="0" src="https://{{config.chat_server}}/channel/tutorial-{{tutorial.id}}?layout=embedded" height="700px" width="100%" ></iframe>
      </div>
    </div>
  </div>
</div>

<!-- Prerecorded Talk -->
{% if tutorial.prerecorded %}
<div class="row m-2">
  <div class="col-md-12 col-xs-12 my-auto p-2">
    <p>
      <b>Prerecorded talk</b>
    </p>
  <div id="presentation-embed-2" class="slp my-auto"></div>
  <script src='https://slideslive.com/embed_presentation.js'></script>
  <script>
    embed = new SlidesLiveEmbed('presentation-embed-2', {
      presentationId: '{{config.default_presentation_id}}',  // TODO: make this configurable
      autoPlay: false, // change to true to autoplay the embedded presentation
      verticalEnabled: true,
      verticalWhenWidthLte: 500,
      allowHiddenControlsWhenPaused: true,
      hideTitle: true
    });
  </script>
  </div>
</div>
{% endif %}

{% endblock %}
