{% set page_title = workshop.title %}
{% extends "base.html" %}
{% block content %}

<!-- Title -->
<div class="pp-card m-3" style="">
  <div class="card-header">
    <h2 class="card-title main-title text-center" style="">
      {{workshop.title}}
    </h2>
    <h3 class="card-subtitle mb-2 text-muted text-center">
      {{ workshop.organizers | join(", ") }}
    </h3>
    <div class="text-center p-3">
      <a class="card-link" data-toggle="collapse" role="button" href="#details">
        Description
      </a>
    </div>
  </div>
</div>
<div id="details" class="pp-card m-3 collapse show">
  <div class="card-body">
    <div class="card-text">
      <div id="abstractExample">
        {{workshop.abstract|safe}} <br />
      </div>
    </div>
    <p></p>
  </div>
</div>

<div class="container" style="background-color:white; padding: 0px;">
  <div class="row m-2">
    <!-- Presentation Embed -->
    <div class="col-md-7 col-xs-12 my-auto p-2" >
      <div id="presentation-embed" class="slp my-auto"></div>
      <script src='https://slideslive.com/embed_presentation.js'></script>
      <script>
        embed = new SlidesLiveEmbed('presentation-embed', {
        presentationId: '{{config.default_presentation_id}}',
        autoPlay: false, // change to true to autoplay the embedded presentation
        verticalEnabled: true,
        verticalWhenWidthLte: 500,
        allowHiddenControlsWhenPaused: true,
        hideTitle: true
        });
      </script>
    </div>

    <!-- Chat -->
    <br/>
    <div class="col-md-5 col-xs-12 p-2">
      <div id="gitter" class="slp">
        <iframe frameborder="0" src="https://{{config.chat_server}}/channel/workshop-{{workshop.id}}?layout=embedded" height="700px" width="100%" ></iframe>
      </div>
    </div>
  </div>
</div>

{% endblock %}
