{% extends "base.html" %}
{% set active_page = "Workshops" %}
{% set page_title = "Workshops" %}
{% block head %}
{{ super() }}
{% include 'cal_head.html' %}
{% endblock %}


{% block tabs %}
{{ components.tabs([("july5", "July 5", "active"),
                    ("july9", "July 9", ""),
                    ("july10", "July 10", ""),
                    ]) }}
{% endblock %}

{% block content %}
<div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
  <div
    class="tab-pane active show"
    id="tab-july5"
    role="tabpanel"
    aria-labelledby="nav-profile-tab"
  >
    <div id="july5">
      <div class="speakers">
        {{ components.workshopgroup(workshops["July 5"]) }}
      </div>
    </div>
  </div>

  <div
    class="tab-pane fade"
    id="tab-july9"
    role="tabpanel"
    aria-labelledby="nav-profile-tab"
  >
    <div id="july9">
      <div class="speakers">
        {{ components.workshopgroup(workshops["July 9"]) }}
      </div>
    </div>
  </div>

  <div
    class="tab-pane fade"
    id="tab-july10"
    role="tabpanel"
    aria-labelledby="nav-profile-tab"
  >
    <div id="july10">
      <div class="speakers">
        {{ components.workshopgroup(workshops["July 10"]) }}
      </div>
    </div>
  </div>

</div>
{% endblock %}
